<div class="container">
    <nav id="navibar">
        <ul>
            <li><a href="#">Map</a></li>
            <li><a href="#">Hobbies</a></li>
            <li><a href="#">Interests</a></li>
            <li><a href="#">Address</a></li>
            <li><a href="#">Info</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <h3 class="sometext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima vel itaque nostrum quam laborum, suscipit nobis nisi accusamus iste libero repudiandae ipsa consequatur dolores laudantium excepturi temporibus doloremque non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum in, labore facilis beatae blanditiis provident dignissimos accusamus? Ipsam eveniet eius, consectetur sint error corrupti porro, assumenda omnis ab eaque totam.
    </h3>
    <h3 class="sometext1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In repellendus suscipit consequatur odio tenetur nesciunt laboriosam nostrum dignissimos autem? Sed sint dolorum voluptates sapiente. Quas iste sapiente modi inventore voluptate.
    </h3>
</div>
<div class="container">   
<form action="#">
    <h3>Submission Form</h3>
    <label for="fname">First name:</label>
    <input type="text" name="fname" id="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" name="lname" id="lname"><br><br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br><br>
    <input type="button" value="Submit" style="background-color: coral; color: #fff; border: none;">
</form>
<address>
    <h3>Address</h3>
   <p> Bommavaram (V&P),<br>
    Ananthasagram (MD),<br>
    Nellore (DT),<br>
    A.P - 524302
   </p>
</address>
</div>





