<header id="main-header">
    <div class="container">
    <h1>My website</h1>
    </div>
</header>
<nav id="navbar">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contack</a></li>
        </ul>
    </div>
</nav>
<section id="showcase">
<div class="container">
     <h1>Lorem ipsum dolor sit amet, consectetur Lorem ipsum amet, consectetur Lorem ipsum dolor sit, consectetur</h1> 
</div> 
</section>
<div class="container">
<section id="main">
         <h1>Welcome</h1> 
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reprehenderit suscipit exercitationem, ea sed nam. In exercitationem eum hic repellat error voluptates quibusdam ut eaque, ipsam assumenda temporibus autem blanditiis.</p>
</section>
<aside id="sidebar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reprehenderi</p>
</aside>
</div>
<footer id="main footer">
    <p>Copy rights &copy; 2023 my website</p>
</footer>


