
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id pariatur amet incidunt assumenda suscipit est dolor quod quas, ratione nobis ipsam, distinctio, praesentium numquam mollitia eveniet maiores voluptatem. Rem, dolorum?</p>
<h2>What Can JavaScript Do?</h2>

<p id="demo">Javascript can change the HTML content</p>
<button type="button" onclick='document.getElementById("demo").innerHTML="Hellow javascript"'>
    Click me!
</button>

<p id="demo"> Javascript can hide the HTML elements</p>
<button type="button" onclick='document.getElementById("demo").style.display="none"'>Click me!</button>

